.searchHouseContainer {
  width: 100%;
  margin: 20px auto;
  background-color: rgb(165, 223, 223);
  box-shadow: 5px 10px 8px rgb(193, 202, 202);
  transition: 0.7s ease-in-out;
}
.searchHouseContainer:hover {
  box-shadow: 0 0 18px rgb(179, 202, 202);
  transition: 0.7s ease-in-out;
}

.searchHouseContainer {
  margin: -1rem auto;
  padding: 5rem 0 0 0;
  h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
  }
  .form-row {
    input {
      width: 70%;
      height: 3rem;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      label {
        margin: -1rem 6rem;
      }
    }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      label {
        margin: -1rem 4rem;
      }
    }
    @media screen and (min-width: 992px) {
      label {
        margin: -1rem 6rem;
      }
    }
  }
}
.findbutton {
  width: 15rem;
  height: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem auto;
  background-color: #d84c4d;
  border: 2px solid #d84c4d;
  color: azure;
}
.findbutton:hover {
  background-color: #000000;
  border: 2px solid #000000;
}

.house-list-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(236, 237, 240);
  h1{
    text-align: center;
    font-size: 30px;
    font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
  }
}

.house-list-card {
  width: 90%;
  text-align: center;
  margin: 0rem auto;
  padding: 2rem;
  .card {
    cursor: pointer;
    background-color: rgb(246, 248, 250);
    position: relative;
    color: aliceblue;
    font-size: 17px;
    font-weight: 400;
    font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
    transition: 0.7s ease-in-out;
    .cardFee{
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 18px;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      background: #63625f73;
    }
    img {
        margin: 1rem;
        width: 100%;
    }
    .card-body{
      padding: 30px 29px;
      .row{
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33333;
        color: #8c8c8c;
      }
    }
    // .list-group{
    //     .list-group-item {
    //       background-color: #e25c5c;
    //     }
    // }
    .card-title{
      color: rgb(59, 58, 58);
      max-height: 3.8rem;
      overflow: hidden;
    }
  }
  // .card:hover {
  //     cursor: pointer;
  //     background-color: rgb(53, 53, 209);
  //     transition: 0.7s ease-in-out;
  //     .card-body{
  //       .row{
  //         color: white;
  //       }
  //     }
  // }
}
.showHouse{
  background-color: #3c618b;;
}

.house-info{
  background-color: #ccdfe6;
  font-weight: 400;
  font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
  margin-top: -1rem;
  h1{
    font-size: 28px;
    font-weight: bold;
    margin: 2rem auto;
  }
  table{
    border: 1px solid #928383;
  }
    td{
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media screen and (min-width: 750px) {
  .houseowner-info{
    background-color: #3c618b;
    font-weight: 400;
    font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ccdfe6;
    position:fixed ;
    top: 5rem;
    right: 0;
  }
}
@media screen and (max-width: 750px) {
  .houseowner-info{
    background-color: #3c618b;
  font-weight: 400;
  font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ccdfe6;
  }
}
.houseowner-info{
  
  // position:fixed ;
  // top: 5rem;
  // right: 0;
  h1{
    font-size: 28px;
    font-weight: bold;
    margin: 2rem auto;
    color: #ccdfe6;
  } 
  h2{
    font-size: 20px;
    font-weight: bold;   
  } 
}

.profile-info {
  background-color: #faf8f8;
  padding: 2rem 0;
  h3 {
    font-family:monospace ;
    font-size: 20px;
    margin-top: 0;
  }
}

.rent-button {
  background-color: #d85151;
  color: #ffffff;
  box-shadow: 0 0 10px #519cb8;;
  transition: 0.7s ease-in-out;
 // height: 4rem;
}
.rent-button:hover{
  background-color: #0b526b;
  color: #ffffff;
  box-shadow: 0 0 10px #3396d8;;
    transition: 0.7s ease-in-out;
}

.text-dark{
  font-size: 1.2rem;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
.text-dark:hover{
  font-size: 1.5rem;
  transition: 0.7s ease-in-out;
}
