.container-fluid{
    margin-top: -1rem;
    padding: 0;
    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }
    .carousel-indicators{
        button{
            width: 1rem;
            height: 1rem;
            margin: 0 1rem 0 1rem;
            background-color: rgba(0, 0, 255, 0.007);
            border-radius: 50%;
            border: 3px solid black;
        }
        .active{
            background-color: blanchedalmond;
        }
    }
    .carousel-caption{
        background-color: rgba(66, 67, 68, 0.473);
        top: 50%;
        object-fit:none ;
        width: 100%;
        right: 0;
        left: 0;
        bottom: auto;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .carouselSmallHeading{
            font-size: 18px;
            margin-bottom: 0;
        }
        .carouselHeading{
            margin-top: 0;
            font-size: 22px;
            font-family: "Red Hat Display", Helvetica, Arial, sans-serif; 
        }
        @media screen and (max-width: 300px) {
            .carouselSmallText{
                display:none;
            }
        }
        @media screen and (min-width: 300px) {
            .carouselSmallText{
                margin: 0 auto;
                width: 70%;
                font-size: 16px;
                font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
            }
        }
    }
    .caroselImage{
        object-fit:cover ; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 600px;
    }
}







.welocome{
    background-color: rgb(246, 248, 250);
    padding: 10rem 15%;
  // font-family:"Red Hat Display", Helvetica, Arial, sans-serif;
    .welocomeSmallHeading{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.61111;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .welocomeHeading{
        font-weight: bold;
        font-size: 22px;
        margin-top: 0;
    }
    .welocomeText{
        font-size: 16px;
        text-align: center;
    }
    .colHeading{
        font-weight: 700;
        font-size: 18px;
    }
}

.testimonials{
    background-color: rgb(24, 53, 93);
    padding: 10rem 0;
    .testimonialsSmallHeading{
        font-weight: 400;
        font-size: 18px;
        line-height: 1.61111;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .testimonialsHeading{
        font-weight: bold;
        font-size: 22px;
        margin-top: 0;
    }
    .testimonialsText{
        font-size: 16px;
    }
}



.w-100{
    padding: 0;
    .carousel-control-prev,
    .carousel-control-next{
        color: white;
        font-size: 2rem;
    }
    .carousel-indicators{
        button{
            display: none;
        }
    }
    .carousel-caption{
        position:relative ;
        object-fit:none ;
        width: 100%;
        right: 0;
        left: 0;
        .testimonialsQuote{
            font-size: 16px;
            margin-bottom: 0;
            width: 70%;
            margin: 2rem auto;
        }
        .testimonialsAuthor{
            margin-top: 0;
            font-size: 22px;
            font-family: "Red Hat Display", Helvetica, Arial, sans-serif; 
        }
     }
    .testimonialImage{
        width: 150px;
        object-position: center; /* Center the image within the element */
        border-radius: 50%;
        height: 150px;
    }
}
.visually-hidden{
    display: none;
}

.newslatter{
    width: 100%;
    padding: 6rem 5%;
    background-color: rgb(255, 89, 109);
    .newslatterHeading{
        font-size: 22px;
        font-weight: 500;
        font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
        line-height: 29.7px;
        color: white;
        text-transform: uppercase;
    }
    .newslatterText{
        font-size: 18px;
        font-weight: 500;
        font-family: "Red Hat Display", Helvetica, Arial, sans-serif;
        line-height: 29.7px;
        color: white;
     //   margin-bottom: 2rem;
    }
    .eamilInput{
        height: 3rem;
        border-radius: 0%;
    }
    .newslatterForm{
        width: 100%;
        margin: 2rem 0;
    }
    button{
        border-radius: 0%;
        border: 4px solid white;
        font-size: 1rem;
        margin-left: 1rem;
    }
}







