.previewContainer{
    position: relative;
    text-align: center;
    color: black;
    background-color: blue;
}

.previewImage{
    width: 100%;
    margin: 1rem auto;
}

.previewImage:hover{
    opacity: .5;
    .top-right {
        position: absolute;
        top: 2px;
        right: 2px;
      }
}
